version: '3.8'

services:
  db:
    container_name: leky-db
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 800M

  rabbitmq:
    container_name: leky-rabbitmq
    image: rabbitmq:management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 200M

  backend:
    container_name: leky-backend
    build:
      context: .
      dockerfile: Dockerfile
    image: leky-backend:latest
    environment:
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      RABBIT_HOST: ${RABBIT_HOST}
      RABBIT_PORT: ${RABBIT_PORT}
      RABBIT_USER: ${RABBIT_USER}
      RABBIT_PASSWORD: ${RABBIT_PASSWORD}
      JAVA_TOOL_OPTIONS: "-Xmx1200M -XX:+UseG1GC -XX:+UseStringDeduplication"
    depends_on:
      - db
      - rabbitmq
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 1900M

  frontend:
    container_name: leky-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: leky-frontend:latest
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend
    deploy:
      resources:
        limits:
          memory: 100M

networks:
  app-network:
    driver: bridge
